@font-face {
    font-family: titleFont;
    src: url('../assets/fonts/PlayfairDisplay-Bold.ttf');
}

@font-face {
    font-family: contentFont;
    src: url('../assets/fonts/Chivo-Regular.ttf');
}

@font-face {
    font-family: navigationLinkFont;
    src: url('../assets/fonts/PlayfairDisplay-Medium.ttf');
}

@font-face {
    font-family: buttonTextFont;
    src: url('../assets/fonts/Chivo-Bold.ttf');
}
