#home, #reviews, .review{
    display: grid;
    width: 100%;
    height:100vh;
    margin: 0;
    
    grid-template-rows: 49vh auto 10vh;
    grid-template-areas: 
        "header"
        "main"
        "footer";

    header{
        display:flex;
        background-color:#FFFFFF;
        justify-content: center;
        align-items: center;

        #basic-navbar-nav-toggle{
            z-index:100;
            background-color: #F5F5F5;
        }

        #basic-navbar-nav{
            background-color: #FFFFFF;
            text-align: center;
            padding:5px 5px 5px 5px;
            border-radius: 10px;
            z-index:100;
            top:0;
            left:0;
            right:0;
            position:fixed;
        }

        #header-content{
            text-align: center;
        }
    }

    .main-content{
        .main-content-jumbotron{
            position: relative;
            z-index:1;
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: left;
            overflow:hidden;
            @media (max-width: $tablet-break) {
                height:auto;
            }

            .main-content-jumbotron-text{
                width:50%;
                color:#FFFFFF;
                @media (max-width: $tablet-break) {
                    width:80%;
                }
            }
        }
    }
}


#home{
    .main-content{
        #current-month{
            text-align: center;
        }

        #main-content-grid{
            background-color: #333333;
        }       


        .main-content-body{
            display:flex;
            @media (max-width: $mobile-break) {
                display:block;
                justify-content: center;
            }

            .main-content-body-image{
                width:33.3%;
                // height:40vh;
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center;

                @media (max-width: $mobile-break) {
                    width:100%;
                    height:30vh;
                }
            }

            .main-content-body-text{
                display:flex;
                margin:0 0 0 2vw;
                width:50%;
                text-align: left;
                @media (max-width: $mobile-break) {
                    display:block;
                    width:100%;
                    margin:2vh 0 0 0;
                }

                h2{
                    justify-content: start;
                    align-self: flex-start;
                }

                p{
                    justify-content: end;
                    align-self: flex-end;
                }
            }
        }

        #about-this-blog{
            background:rgba(0,0,0, 0.3);
            height: 35vh;

            .video-bg{
                position: absolute;
                z-index:-1;
                min-width:100%;
                min-height:100%;
            }
        }
    }
}

#reviews{
    .main-content{
        #reviews-jumbotron{
            background: url('https://jazznotedemoimage.s3.amazonaws.com/reviewpage.jpg');
            background-position-x: center;
            background-position-y: top;
            background-repeat: no-repeat;
            background-size: cover;

            display:flex;
            justify-content: center;
            align-items: center;
            @media (max-width: $mobile-break) {
                display:block;
            }

            .btn{
                display: inline-block;   
                margin: 0 1vw 0 1vw;
                @media (max-width: $mobile-break) {
                    display: block;
                    margin: 1vh auto 1vh auto;
                }
            }
        }

        #reviews-searchbar{
            width:70%;
            margin: 0 auto 0 auto;
            @media (max-width: $tablet-break) {
                width:100%;
                margin: 1px 0 1px 0;
            }
        }
    }
}

.review{
    .main-content{
        #review-essential-information{
            display:flex;
            @media (max-width: $tablet-break) {
                display:block;
            }

            #review-essential-information-image,
            #review-essential-information-text{
                width:50%;
                @media (max-width: $tablet-break) {
                    width:100%;
                }
            }

            #review-essential-information-image{
               border-radius: 10px;
            }

            #review-essential-information-text{
                overflow:auto;
                padding: 0 1vw 0 1vw;
                @media (max-width: $tablet-break) {
                    padding: 1vh 0 1vh 0;
                }

                .list-group .list-group-item{
                    border:none;
                }
            }
        }

        article section{
            text-indent: 2vw;
        }

        .review-album-oneliner{
            display:block;
            width:50%;
            margin:2vh auto 2vh auto;
            text-align: center;
            @media (max-width: $tablet-break) {
                width:70%;
            }
        }

        .review-artist-information{
            display:flex;
            align-items: center;   
            @media (max-width: $tablet-break) {
                display: block;
            }

           .review-artist-information-image{
                width:20vw;
                border-radius: 10px;
                margin: 1vh 1vw 1vh 1vw;
                @media (max-width: $tablet-break) {
                    display: block;
                    width:40%;
                    margin: 1vh auto 1vh auto;
                }
           }

           .review-artist-information-text{
               h3{
                    @media (max-width: $tablet-break) {
                        text-align: center;
                    }
               }
           }
        }
    }
}
