h1,
h2,
h3,
h4,
h5,
h6{
    font-family: titleFont;
    text-shadow: 1px 1px #F1F1F1;
    line-height: 1.5rem;
}

p,
sub,
.btn,
option{
    font-family: contentFont;
    font-size: 1.1rem;
}

.nav-link,
.option-label{
    font-family: navigationLinkFont;
    font-size: 1.4rem;
}

#title{
    font-style: italic;
}
