$mobile-break: 700px;
$tablet-break: 1199px;

@import "~bootstrap/scss/bootstrap.scss";
@import './styles/custom-fonts.scss';
@import './styles/colors.scss';
@import './styles/animation.scss';
@import './styles/typography.scss';
@import './styles/layouts.scss';

body{
  width: 100%;
  margin: 0;
  font-size: 20px;
}

// header{background-color: red;}
// .main-content{background-color: blue;}
// footer{background-color: red}

header {
  grid-column: header;
}

.main-content {
  grid-area: main;
  width:80%;
  margin: 0 auto 0 auto;
  @media (max-width: $tablet-break) {
    width:90%;
  }
}

footer {
  grid-area: footer;
}
